.linesdown {
    background: url("img/lines-down.png") no-repeat center;
    height: 512px;
}

.timetable td, th {
    padding: 5px 10px;
    min-width: 120px;
}

.timetable th {
    font-weight: bold;
    text-align: right;
}

.header-img {
    width: 70%;
}

.header-img-small {
    width: 90%;
}

.large-img {
    max-width: 384px;
    max-height: 384px;
}

.medium-img {
    max-width: 288px;
    max-height: 288px;
}

.small-img {
    max-width: 192px;
    max-height: 192px;
}

.xsmall-img {
    max-width: 96px;
    max-height: 96px;
}

.xxsmall-img {
    max-width: 48px;
    max-height: 48px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.font-bold {
    font-weight: bold;
}

.font-color-sec {
    color: #93a7ac;
}